
<article xmlns="http://www.w3.org/1999/xhtml">
    
    <section class="scg-instructions" style="display:block;">
        <hr/>
        <header>
            <h1>Instructions:</h1>
        </header>
        <ol>
            <li>Open this document in oXygen xml editor.</li>
            <li>Click: <b>Document -> Edit mode -> Author</b>.</li>
            <li>Click: <b>XHTML -> Tags display mode -> No tags</b>.</li>
            <li>Edit the content (where indicated) as desired.  <b>NB: </b>Observe the toolbars at the top of the screen that are used to format the text, add bullet points, number lists etc.</li>
            <li>Press <b>[CTRL + Shift + V]</b> to validate the document. You should see a
                <?oxy_custom_start type="oxy_content_highlight" color="180,215,3"?>GREEN
                SQUARE<?oxy_custom_end?> at the bottom of your screen with the text "<b><i>Document
                    is valid</i></b>". If not, the document contains errors that <b>MUST</b> be
                corrected before pasting into EMu.</li>
            <li>If you see a <?oxy_custom_start type="oxy_content_highlight" color="255,64,0"?>RED
                SQUARE<?oxy_custom_end?> with the text "<b><i>Validation - failed. Error:</i></b>"
                (follwed by a number,) the document is not valid and MUST be corrected before being
                pasted into EMu. One way to do this is: <ol>
                    <li>Click: <b>Document -> Edit mode -> Text</b></li>
                    <li>You will see a
                        <?oxy_custom_start type="oxy_content_highlight" color="255,64,0"?>RED
                        SQUARE<?oxy_custom_end?> with one or more red rectangles in the right margin
                        of the screen. The invalid HTML will also be underlined RED in the text
                        of the document.</li>
                    <li>Edit the document to get rid of all errors (upon which a green square will
                        be displayed in the right margin of the document.</li>
                    <li>Repeat step 5 (above) to ensure validation.</li>
                </ol>
            </li>            
            <li>Copy the content from the <b>SOUCE VIEW</b>. Easiest way to do this is to: <ol>
                <li>Click: <b>Document -> Edit mode -> Text</b></li>
                <li>Press <b>[CTRL + A]</b> then <b>[CTRL + C]</b>.</li>
            </ol>
            </li>
            <li>In EMu, press <b>[CTRL + V]</b> to paste this markup into the narratives <b>MARKUP
                TAB</b>. You may switch to the EMu visual view to observe the output if you
                like.</li>
            <li><?oxy_custom_start type="oxy_content_highlight" color="255,255,0"?><b>NEVER</b><?oxy_custom_end?>
                edit the narrative in EMu. There is currently a bug in the EMu editor that corrupts
                the html source code if edited in EMu. This will result in failure to display ALL
                narratives in the A-Z guide on the website (<a
                    href="http://www.library.manchester.ac.uk/search-resources/special-collections/guide-to-special-collections/atoz/"
                    target="_blank"
                    >http://www.library.manchester.ac.uk/search-resources/special-collections/guide-to-special-collections/atoz/</a>).</li>
            <li><b><?oxy_custom_start type="oxy_content_highlight" color="255,255,0"?>NEVER<?oxy_custom_end?></b>
                paste invalid HTML source code into EMu. This will also break the A-Z
                guide.</li>
            <li>To edit a narrative, copy the source from EMu, paste and edit it in oXygen, then overwrite the existing EMu source with the validated source from oXygen.</li>
            <li>(Until further notice) <b>ALWAYS</b> use the procedure outlined here to edit or create new narrative items in EMu.</li>
        </ol>
        <hr/>
    </section>
    <p>    </p>
    <p>    </p>
    
    
    <section class="scg-title" style="display:block; margin-bottom: 1em;">
        <header><h1>Title:</h1></header>
        <section class="scg-content">
            <h1>McConnel and Kennedy Archive</h1>
        </section>
    </section>
    <section class="scg-order" style="display:block; margin-bottom: 1em;">
        <header><b>Sort Order:</b></header>
        <section class="scg-content">
            McConnel and Kennedy Archive
        </section>
    </section>        
    <section class="scg-daterange" style="display:block; margin-bottom: 1em;">
        <header><b>Date range:</b></header>
        <section class="scg-content">
            The collection dates from between 1795–1888.
        </section>
    </section>
    <section class="scg-medium" style="display:block; margin-bottom: 1em;">
        <header><b>Medium:</b></header>
        <section class="scg-content">
            Manuscript
        </section>
    </section>
    <section class="scg-number-of-items" style="display:block; margin-bottom: 1em;">
        <header><b>Number of items:</b></header>
        <section class="scg-content">
            unknown
        </section>
    </section>
    <section class="scg-description" style="display:block; margin-bottom: 1em;">
        <header><b>Description:</b></header>
        <section class="scg-content">
                <p>This important archive documents a major cotton-spinning company in Manchester at the height of the Industrial Revolution.</p> <p>The partnership of McConnel &amp; Kennedy was founded in 1795 by two natives of Kirkcudbrightshire, James McConnel (1762–1831)and John Kennedy (1769–1855).</p> <p>The firm was originally involved in both machine making and cotton spinning, but by the close of the eighteenth century it was devoted exclusively to cotton spinning, becoming the largest such concern in Manchester in the early nineteenth century.</p> <p>On the retirement of John Kennedy in 1826, McConnel took his two eldest sons into partnership and the firm became known as McConnel &amp; Co.</p> <p>In 1898 McConnel &amp; Co. joined several other firms in the formation of the Fine Cotton Spinners and Doublers Association and the company lost its independent identity after the First World War.</p> <p>The collection comprises:</p> <ul> <li>twenty-three copy letter-booksrecording all the firm’s correspondence until 1836 and a further volume covering 1868–69</li> <li>a large quantity of original letters and bills sent to the firm, 1795–1826</li> <li>financial records including day books, ledgers, sales journals, etc., 1795–1888</li> <li>a small quantity of title deedsrelating to the firm’s property</li> <li>detailed inventoriesrecording the value of buildings, plant, fixtures and furnishings</li></ul>
        </section>
    </section>
    <section class="scg-see-also" style="display:block; margin-bottom: 1em;">
        <header><b>See also:</b></header>
        <section class="scg-content">
            <p>
                
            </p>
        </section>
    </section>
    <section class="scg-further-info" style="display:block; margin-bottom: 1em;">
        <header><b>Further information:</b></header>
        <section class="scg-content">
            <p>
                Catalogue available online via <a href="http://www.archiveshub.ac.uk/data/gb133-mck">ELGAR</a>.
            </p>
        </section>
    </section>
    <section class="scg-other-resources" style="display:block; margin-bottom: 1em;">
        <header><b>Other resources:</b></header>
        <section class="scg-content">
            <p>
                Currently no other resources.
            </p>
        </section>
    </section>
    <section class="scg-alt-form" style="display:block; margin-bottom: 1em;">
        <header><b>Alternative Form:</b></header>
        <section class="scg-content">
            <p>               
                Currently no alternative form.
            </p>
        </section>
    </section>
    <section class="scg-location" style="display:block; margin-bottom: 1em;">
        <header><b>Location:</b></header>
        <section class="scg-content">
            JRL 
        </section>
    </section>
</article>