<?xml version="1.0" encoding="UTF-8"?>
<div xmlns:fn="http://www.w3.org/2005/xpath-functions"
     xmlns:xdt="http://www.w3.org/2004/07/xpath-datatypes"
     xmlns="http://www.lunaimaging.com/xsd"
     xmlns:record="http://www.lunaimaging.com/xsd"
     xmlns:pres="http://preservica.com/custom/saxon-extensions">
   <span class="XSLTransformTitle">Luna Metadata</span>
   <br/>
   <table class="XSLTransformTable">
      <colgroup>
         <col width="200px"/>
         <col width="450px"/>
      </colgroup>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">id_1</td>
         <td id="editable-d2e_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="test_image"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">image_number</td>
         <td id="editable-d2e_2_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="JRL17082832"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">identification_scheme</td>
         <td id="editable-d2e_3_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="ID Shceme"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">digital_indentifier</td>
         <td id="editable-d2e_4_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="123456"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">reference_number</td>
         <td id="editable-d2e_5_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="10176.8"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">previous_accession_number</td>
         <td id="editable-d2e_6_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}previous_accession_number[1]"
                   value="123456"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">catalogue_link</td>
         <td id="editable-d2e_7_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="&lt;A href=&#34;https://www.librarysearch.manchester.ac.uk/primo-explore/fulldisplay?docid=44MAN_ALMA_DS21185171040001631&amp;context=L&amp;vid=MU_NUI&amp;search_scope=BLENDED&amp;tab=local&amp;lang=en_US&#34;&gt;UoM online catalogue.&lt;/a&gt;"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title</td>
         <td id="editable-d2e_8_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Front cover"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_variant</td>
         <td id="editable-d2e_9_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}title_variant[1]"
                   value="Alt image title"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_variant</td>
         <td id="editable-d2e_10_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}title_variant[1]"
                   value="Alt image title"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_translation</td>
         <td id="editable-d2e_11_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}title_translation[1]"
                   value="translated title"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_series</td>
         <td id="editable-d2e_12_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}title_series[1]"
                   value="series title"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_larger_entity</td>
         <td id="editable-d2e_13_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="A reply as true as steele, to a rusty rayling, ridiculous lying Libell : which was lately written by an impudent unsoder'd Ironmonger [H. Walker] and called by the name of An Answer to a foolish Pamphlet entituled. A swarme of sectaries and schismatiques."
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_l_e_variant</td>
         <td id="editable-d2e_14_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}title_l_e_variant[1]"
                   value="parent title"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">title_l_e_translation</td>
         <td id="editable-d2e_15_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}title_l_e_translation[1]"
                   value="translated parent title"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">creator</td>
         <td id="editable-d2e_16_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}creator[1]"
                   value="Taylor, John, 1580-1653"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">creator_role</td>
         <td id="editable-d2e_16_e18_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}creator_role[1]"
                   value="Printer"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">creator</td>
         <td id="editable-d2e_17_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}creator[1]"
                   value="William Clowes and Sons"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">creator_role</td>
         <td id="editable-d2e_17_e5863_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}creator_role[1]"
                   value="Publisher"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">creator_attribution</td>
         <td id="editable-d2e_e18_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}creator_attribution[1]"
                   value="William I, King of England, 1027 or 8-1087"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">display_creator</td>
         <td id="editable-d2e_19_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="John Smith"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">date_created</td>
         <td id="editable-d2e_20_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="1641"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">imprint</td>
         <td id="editable-d2e_21_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="London"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">volume</td>
         <td id="editable-d2e_22_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="1"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">page</td>
         <td id="editable-d2e_23_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Front cover"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">scale</td>
         <td id="editable-d2e_24_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="1:25"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">image_sequence_number</td>
         <td id="editable-d2e_25_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="004"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">image_sequence_total</td>
         <td id="editable-d2e_26_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="234"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">Description</td>
         <td id="editable-d2e_27_1">
            <textArea rows="4"
                      cols="80"
                      onchange="changeFlag()"
                      name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}description[1]"
                      class="standardTextAreaInput">Image of a devil sitting on a man.</textArea>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">keyword</td>
         <td id="editable-d2e_28_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="devil, man"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">transcription</td>
         <td id="editable-d2e_29_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Image of a devil sitting on a man."
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">language</td>
         <td id="editable-d2e_30_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}language[1]"
                   value="eng-GB"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">language_name</td>
         <td id="editable-d2e_30_1_2">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}language_name[1]"
                   value="English"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">language</td>
         <td id="editable-d2e_31_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}language[1]"
                   value="fr-FR"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">language_name</td>
         <td id="editable-d2e_31_1_2">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}language_name[1]"
                   value="French"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">subject</td>
         <td id="editable-d2e_e32_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}subject[1]"
                   value="Religion"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">subject</td>
         <td id="editable-d2e_e33_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}subject[1]"
                   value="Histology"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">category</td>
         <td id="editable-d2e_e34_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}category[1]"
                   value="Printed"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">class</td>
         <td id="editable-d2e_35_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}class[1]"
                   value="Pamphlets"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">technique</td>
         <td id="editable-d2e_36_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}technique[1]"
                   value="Printing (process)"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">medium</td>
         <td id="editable-d2e_37_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}medium[1]"
                   value="Ink"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">support</td>
         <td id="editable-d2e_38_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}support[1]"
                   value="Paper"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">location_creation_site</td>
         <td id="editable-d2e_39_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}location_creation_site[1]"
                   value="England"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">location_discovery_site</td>
         <td id="editable-d2e_40_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}location_discovery_site[1]"
                   value="England: Manchester"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">culture</td>
         <td id="editable-d2e_41_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}culture[1]"
                   value="Culture"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">temporal_coverage</td>
         <td id="editable-d2e_42_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Victorian"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">temporal_coverage</td>
         <td id="editable-d2e_42_2">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Georgian"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">spatial_coverage</td>
         <td id="editable-d2e_43_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}spatial_coverage[1]"
                   value="England"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">people_covered</td>
         <td id="editable-d2e_e44_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}people_covered[1]"
                   value="Walker, Henry"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">item_height</td>
         <td id="editable-d2e_45_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}item_height[1]"
                   value="33 mm"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">item_width</td>
         <td id="editable-d2e_46_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}item_width[1]"
                   value="33 mm"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">item_depth</td>
         <td id="editable-d2e_47_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}item_depth[1]"
                   value="12 mm"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">related_resources</td>
         <td id="editable-d2e_48_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}related_resources[1]"
                   value="Related resources 1"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">related_resources</td>
         <td id="editable-d2e_49_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}related_resources[1]"
                   value="Related resources 2"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">current_site</td>
         <td id="editable-d2e_50_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="UK"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">current_repository</td>
         <td id="editable-d2e_51_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="The University of Manchester Library, U.K."
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">former_repository</td>
         <td id="editable-d2e_52_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}former_repository[1]"
                   value="Spencer, George John Spencer, Earl, 1758-1834, former owner"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">former_site</td>
         <td id="editable-d2e_53_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}former_site[1]"
                   value="Former site"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">image_rights</td>
         <td id="editable-d2e_54_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}image_rights[1]"
                   value="The University of Manchester Library"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">work_rights</td>
         <td id="editable-d2e_55_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}work_rights[1]"
                   value="The University of Manchester Library"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">access_rights</td>
         <td id="editable-d2e_56_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="&lt;a rel=&#34;license&#34; href=&#34;http://creativecommons.org/licenses/by-nc-sa/4.0/&#34;&gt;&lt;img alt=&#34;Creative Commons License&#34; style=&#34;border-width:0&#34; src=&#34;https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png&#34; /&gt;&lt;/a&gt;&lt;br /&gt;This work is licensed under a &lt;a rel=&#34;license&#34; href=&#34;http://creativecommons.org/licenses/by-nc-sa/4.0/&#34;&gt;Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.&lt;/a&gt; Copyright of The University of Manchester"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">bibliographic_citation</td>
         <td id="editable-d2e_57_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Bib cittaion"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">notes</td>
         <td id="editable-d2e_58_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="notes"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">cost</td>
         <td id="editable-d2e_59_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="£45"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">format</td>
         <td id="editable-d2e_60_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}format[1]"
                   value="text"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">file_name</td>
         <td id="editable-d2e_60_1_2">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}file_name[1]"
                   value="filename"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">resolution</td>
         <td id="editable-d2e_60_1_3">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}resolution[1]"
                   value="2"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">bit_depth</td>
         <td id="editable-d2e_60_1_4">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}bit_depth[1]"
                   value="2"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">duration</td>
         <td id="editable-d2e_60_1_5">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}duration[1]"
                   value="2 mins"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">date_captured</td>
         <td id="editable-d2e_60_e4599_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}date_captured[1]"
                   value="2017-08-29"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">technique_image</td>
         <td id="editable-d2e_60_e26_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}technique_image[1]"
                   value="Digital capture by The University of Manchester Library"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">metadata_language</td>
         <td id="editable-d2e_61_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}metadata_language[1]"
                   value="eng-GB"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">learning_resource</td>
         <td id="editable-d2e_e62_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}learning_resource[1]"
                   value="learning resource type"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">audience</td>
         <td id="editable-d2e_e63_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}audience[1]"
                   value="Audience"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">image_references</td>
         <td id="editable-d2e_64_1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}image_references[1]"
                   value="Digital capture = JRL17082832"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">date_record</td>
         <td id="editable-d2e_64_1_2">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}date_record[1]"
                   value="2017-09-27"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">date_modified</td>
         <td id="editable-d2e_64_1_3">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}date_modified[1]"
                   value="2017-09-27"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">local_notes</td>
         <td id="editable-d2e_64_1_4">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}local_notes[1]"
                   value="Local notes"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">web_access_approved</td>
         <td id="editable-d2e_64_1_5">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}web_access_approved[1]"
                   value="Yes, KdL"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">to_luna</td>
         <td id="editable-d2e_64_1_6">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}to_luna[1]"
                   value="Y"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">contributor_name</td>
         <td id="editable-d2e_64_e2695_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}contributor_name[1]"
                   value="Tony Richards"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">contributor_role</td>
         <td id="editable-d2e_64_e2695_e22_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}contributor_role[1]"
                   value="Photographer"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">contributor_name</td>
         <td id="editable-d2e_64_e2053_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}contributor_name[1]"
                   value="Kirsty de Loose"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">contributor_role</td>
         <td id="editable-d2e_64_e2053_e1_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}contributor_role[1]"
                   value="Cataloguer"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
      <tr xmlns:pres="http://saxon.sf.net/">
         <td class="standardFieldName">collection_code</td>
         <td id="editable-d2e_65_1">
            <input type="text"
                   onchange="changeFlag()"
                   name="/Q{http://fake.co.uk}record[1]/Q{http://fake.co.uk}[1]"
                   value="Rylands"
                   class="standardTextFieldInput"/>
         </td>
      </tr>
   </table>
</div>
